body {
    font-family: 'Oswald', sans-serif;
    background: url('../images/oriental.png');
  }
.jumbotron{
    font-family: 'Oswald', sans-serif;
    color: black;
    background-color: lightseagreen;
}