body {
    font-family: 'Oswald', sans-serif;
    background: url('../images/oriental.png');
  }
.jumbotron, .card{
    font-family: 'Oswald', sans-serif;
    color: black;
    background-color: lightseagreen;
    border-width: 5px;
    border-color: black;
}
.jumbotron-fluid{
  text-align: center;
  border-width: 5px;
    border-color: black;
}
#qdisplay{
  width: 70%;
  float: left;
}
#score{
  width: 30%;
}
.card{
  float: right;
}